div.item {
  min-width: 200px;
  min-height: 200px;
  width: 15%;
  height: 650px;
  background-color: #b6b6b6;
  float: left;
  margin: 15px;
  padding: 20px;
  position: relative;
  border: 100px;
  border-color: rgb(0, 0, 0);
}


span.item {
  line-height: 16px;
  font-size: 17px;
}

span.undefined {
  color: red;
}

div.item button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgb(160, 57, 120);
  padding: 10px 25px;
  border-color: rgb(56, 5, 37);
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.editButton {
  bottom: 10px;
  left: 70px;
  color: rgb(160, 57, 120);
  padding: 10px 25px;
  border-color: rgb(56, 5, 37);
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

#bookDataContainer div.item {
  background-color: rgb(195, 196, 196);

}

#danceDataContainer div.item {
  background-color: rgb(195, 196, 196) ;
}

#otherDataContainer div.item{
  background-color: rgb(212, 124, 193) ;
}

h2 {
 background-color: darkgray;
 text-align: center; 
 color: azure; 
 font-family: fantasy;
 font-size: 30pt; 
 }

#otherDataContainer{
display: none;
}

#existingData{
  font-size: 50px;
  text-align: center;
  color: rgb(188, 188, 188);
}
